// Styling for the portfolio section
#portfolio {
  .portfolio-item {
    right: 0;
    margin: 0 0 15px;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: translateY(-5px);
    }
    
    .portfolio-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;
      
      &:hover {
        box-shadow: 0 10px 30px rgba(245, 208, 97, 0.3);
        border: 1px solid #F5D061;
      }
      
      img {
        transition: transform 0.5s ease;
        width: 100%;
        height: auto;
        display: block;
      }
      
      &:hover img {
        transform: scale(1.1);
      }
      
      .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: linear-gradient(135deg, rgba(245, 208, 97, 0.9) 0%, rgba(230, 194, 96, 0.9) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover {
          opacity: 1;
        }
        
        .portfolio-hover-content {
          font-size: 20px;
          text-align: center;
          color: white;
          z-index: 3;
          
          i {
            font-size: 48px;
            margin-bottom: 10px;
            animation: pulse 2s infinite;
          }
          
          h3,
          h4 {
            margin: 0;
            text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
    .portfolio-caption {
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      background-color: $white;
      border-radius: 0 0 10px 10px;
      
      h4 {
        margin: 0;
        text-transform: none;
        color: #F5D061;
        font-weight: 600;
      }
      p {
        font-size: 16px;
        font-style: italic;
        margin: 0;
        color: $gray-600;
        @include serif-font;
      }
    }
  }
  * {
    z-index: 2;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@media (min-width: 767px) {
  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}

.portfolio-modal {
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 100px 0;
    text-align: center;
    h2 {
      font-size: 3em;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px;
      @include serif-font;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
    button {
      cursor: pointer;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-900;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-900;
      }
    }
  }
}
